.cartSection{
    .cartEmpty{
        margin: 80px 100px 20px 100px;
        background-color: white;
        padding: 20px;
    } 

    .cartemptyimg{
        height:20%;
        width:20%
    } 
    .cartimg{
        height:100px;
        width: 80px
    }

    .cartdisplay{
        background-color: white;
        margin:6% 6% 0 6%;
    }
}